*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Nav Format*/
#nav{
    height: 100%;
    width: 250px;
    background-color: rgb(8, 18, 71);
    position: fixed;
    padding-top: 80px;
}
#nav h1{
    color: white;
    padding-top: 40px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    display: block;
    justify-content: center;
    padding-top: 40px;
}
.nav-box{
    text-align: center;
}
#nav .info{
    background-image: url("../img/info.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    margin-left: 70px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*Hovering*/
#nav a:hover{
    transition: 0.5s;
    color: blueviolet;
}